<!DOCTYPE html>
<html lang="en">
<head>
    <title>Websocket ChatRoom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div>
        <h2 th:text="${roomName}"></h2>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <input type="text" id="messageInput" class="form-control">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" onclick="sendMessage()">보내기</button>
        </div>
    </div>
    <ul class="list-group" id="messageList">
        <!-- Messages will be appended here using JavaScript -->
    </ul>
    <div></div>
</div>
<!-- JavaScript -->
<script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>
<script>
    var sock = new SockJS("/ws-stomp");
    var ws = Stomp.over(sock);
    var reconnect = 0;

    var roomId = localStorage.getItem('sitter.roomId');
    var sender = localStorage.getItem('sitter.sender');
    var roomUUID = localStorage.getItem('sitter.roomUUID');

    function findRoom() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/chat/room/' + roomUUID);
        xhr.onload = function () {
            if (xhr.status === 200) {
                var room = JSON.parse(xhr.responseText);
                document.querySelector("h2").innerText = room.name;
            }
        };
        xhr.send();
    }

    function sendMessage() {
        var message = document.getElementById('messageInput').value;
        ws.send("/pub/chat/message", {}, JSON.stringify({
            type: 'TALK',
            id: roomId,
            sender: sender,
            roomUUID: roomUUID,
            message: message
        }));
        document.getElementById('messageInput').value = '';
    }

    function recvMessage(recv) {
        var messageList = document.getElementById('messageList');
        var listItem = document.createElement('li');
        listItem.className = 'list-group-item';
        listItem.innerText = (recv.type == 'ENTER' ? '[알림]' : recv.sender) + " - " + recv.message;
        messageList.insertBefore(listItem, messageList.firstChild);
    }

    function connect() {
        ws.connect({}, function (frame) {
            ws.subscribe("/sub/chat/room/" + roomId, function (message) {
                var recv = JSON.parse(message.body);
                recvMessage(recv);
            });
            ws.send("/pub/chat/message", {}, JSON.stringify({type: 'ENTER', id: roomId, roomUUID: roomUUID, sender: sender}));
        }, function (error) {
            if (reconnect++ <= 5) {
                setTimeout(function () {
                    console.log("connection reconnect");
                    sock = new SockJS("/ws-stomp");
                    ws = Stomp.over(sock);
                    connect();
                }, 10 * 1000);
            }
        });
    }

    findRoom();
    connect();
</script>
</body>
</html>