<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Websocket Chat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>채팅방 리스트</h3>
        </div>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">방제목</label>
        </div>
        <input type="text" class="form-control" id="room_name">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" onclick="createRoom()">채팅방 개설</button>
        </div>
    </div>
    <ul class="list-group" th:each="item : ${chatrooms}">
        <li class="list-group-item list-group-item-action" th:text="${item.name}" th:data-room-id="${item.roomId}"
            th:data-room-uuid="${item.roomUUID}"
            onclick="enterRoom(this.getAttribute('data-room-id'), this.getAttribute('data-room-uuid'))"></li>
    </ul>
</div>
<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {

        window.createAndEnterRoom = function (petsitterId) {
            console.log(petsitterId);
            $.post('/chat/room', {petSitterNo: petsitterId}, function (response) {
                console.log('1차');
                alert(response.roomUUID + "방 개설에 성공하였습니다.");

                const sender = prompt('대화명을 입력해 주세요.');
                if (sender !== "") {
                    localStorage.setItem('sitter.sender', sender);
                    localStorage.setItem('sitter.roomId', response.roomId);
                    location.href = "/chat/room/enter/" + response.roomUUID;
                }

            }).fail(function () {
                alert("채팅방 개설에 실패하였습니다.");
            });
        }
    });
</script>
</body>
</html>
