<!DOCTYPE html>
<html lang="en">
<head>
    <title>Websocket ChatRoom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div>
        <h2 th:text="${roomName}"></h2>
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <input type="text" id="messageInput" class="form-control">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button" onclick="sendMessage()">보내기</button>
        </div>
    </div>
    <ul class="list-group" id="messageList">
        <!-- Messages will be appended here using JavaScript -->
    </ul>
    <div></div>
</div>
<!-- JavaScript -->
<script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.4/stomp.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    var sock = new SockJS("/ws-stomp");
    var ws = Stomp.over(sock);
    var reconnect = 0;

    var roomId = localStorage.getItem('sitter.roomId');
    var roomUUID = localStorage.getItem('sitter.roomUUID');
    var sender = /*[[${#authentication.name}]]*/ 'senderId';
    console.log(roomId);
    console.log(roomUUID);
    console.log(sender);

    function findRoom() {
        // AJAX를 사용하여 서버에서 채팅방 정보를 가져오기
        $.ajax({
            url: '/chat/room/enter/' + roomUUID,
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                // 가져온 데이터를 사용하여 채팅방 이름 설정
                $("h2").text(data.roomName);
            }
        });
    }

    function sendMessage() {
        var message = document.getElementById('messageInput').value;

        // JSON 형식의 데이터를 생성
        var headers = {
            'roomId': this.roomId,
            'memberId': this.sender
        };
        ws.send("/pub/chat/message", headers, JSON.stringify({type: 'TALK', content: message}));
        console.log('메세지 송신 전' + sender);
        // JSON.stringify를 사용하여 데이터를 문자열로 변환
        var chatMessageJSON = JSON.stringify(chatMessage);

        // WebSocket을 통해 메시지를 서버로 전송
        ws.send("/pub/chat/message", {}, JSON.stringify(chatMessage));
        console.log('메세지 송신 후' + sender);

        // 입력 필드 초기화
        this.message = '';
    }

    function recvMessage(recv) {
        var messageList = document.getElementById('messageList');
        var listItem = document.createElement('li');
        listItem.className = 'list-group-item';
        listItem.innerText = (recv.type == 'ENTER' ? '[알림]' : recv.sender) + " - " + recv.message;
        messageList.insertBefore(listItem, messageList.firstChild);
    }


    function connect() {
        ws.connect({}, function (frame) {
            ws.subscribe("/sub/chat/room/enter", function (message) {
                var recv = JSON.parse(message.body);
                recvMessage(recv);
            });
        }, function (error) {
            if (reconnect++ <= 5) {
                setTimeout(function () {
                    console.log("connection reconnect");
                    sock = new SockJS("/ws-stomp");
                    ws = Stomp.over(sock);
                    connect();
                }, 10 * 1000);
            }
        });
    }


    findRoom();
    connect();
</script>
</body>
</html>