body {
    font-family: "Montserrat", sans-serif;
    background: white;
}

.danger {
    position: relative;
    left: 191px;
    top: 353px;
    color: red;
}

.err01 {
    position: relative;
    left: 139px;
    top: -69px;
    color: red;
}

.err02 {
    position: relative;
    left: 139px;
    top: 8px;
    color: red;
}

.err03 {
    position: relative;
    left: 139px;
    top: 7px;
    color: red;
}

.err04 {
    position: relative;
    left: 139px;
    top: 10px;
    color: red;
}

.err05 {
    position: relative;
    left: 139px;
    top: 13px;
    color: red;
}

.err06 {
    position: relative;
    left: 139px;
    top: 10px;
    color: red;
}

.err07 {
    position: relative;
    left: 139px;
    top: -168px;
    color: red;
}

.err08 {
    position: relative;
    left: 139px;
    top: 10px;
    color: red;
}

.err09 {
    position: relative;
    left: 139px;
    top: 10px;
    color: red;
}

.err10 {
    position: relative;
    left: 139px;
    top: 10px;
    color: red;
}

.last {
    position: relative;
    top: -11rem;
}

.up {
    position: relative;
    top: -5rem;
}

.form-control {
    font-size: 20px;
    border-radius: 8px;
}

.dateSelect {
    left: 1rem;
    position: relative;
    margin: auto;
    height: 3rem;
    display: flex;
    width: 27rem;
    align-items: center;
    justify-content: space-evenly;
}

.zipbtn {
    top: -10rem;
    left: 19rem;
    position: relative;
    display: block;
    width: 100%;
    max-width: 150px;
    height: 50px;
    margin: 0 auto;
    border-radius: 8px;
    /* border: none; */
    background: black;
    color: white;
    padding: 0 0 0 0px;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.btnidCheck {
    cursor: pointer;
    text-align: center;
    top: -5rem;
    left: 17rem;
    position: relative;
    display: block;
    width: 100%;
    max-width: 100px;
    height: 50px;
    margin: 0 auto;
    border-radius: 8px;
    /* border: none; */
    background: black;
    color: white;
    padding: 0 0 0 0px;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: block;
    max-width: 680px;
    width: 80%;
    margin: 120px auto;
}

h1 {
    color: #000000;
    font-size: 48px;
    letter-spacing: -3px;
    text-align: center;
    margin: 120px 0 80px 0;
    transition: 0.2s linear;
}

.links {
    list-style-type: none;
}

.links li {
    display: inline-block;
    margin: 0 20px 0 0;
    transition: 0.2s linear;
}

.links li:nth-child(2) {
    opacity: 0.6;
}

.links li:nth-child(2):hover {
    opacity: 1;
}

.links li:nth-child(3) {
    opacity: 0.6;
    float: right;
}

.links li:nth-child(3):hover {
    opacity: 1;
}

.links li a {
    text-decoration: none;
    color: #0f132a;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}

form {
    width: 100%;
    max-width: 680px;
    margin: 40px auto 10px;
}

form .input__block {
    margin: 28px auto;
    display: block;
    position: relative;
}

form .input__block.first-input__block::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 50px;
    display: block;
    width: 0;
    height: 0;
    background: transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(15, 19, 42, 0.1);
    transition: 0.2s linear;
}

form .input__block.signup-input__block::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 150px;
    display: block;
    width: 0;
    height: 0;
    background: transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid rgba(15, 19, 42, 0.1);
    transition: 0.2s linear;
}

form .input__block input {
    display: block;
    width: 59%;
    max-width: 680px;
    height: 50px;
    margin: 0 auto;
    border-radius: 8px;
    border: none;
    background: rgba(15, 19, 42, 0.1);
    color: rgba(15, 19, 42, 0.3);
    padding: 0 0 0 15px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

form .input__block input:focus, form .input__block input:active {
    outline: none;
    border: none;
    color: #0f132a;
}

form .input__block input.repeat__password {
    opacity: 0;
    display: none;
    transition: 0.2s linear;
}

form .signin__btn {
    background: #000000;
    color: white;
    display: block;
    width: 59%;
    max-width: 680px;
    height: 50px;
    border-radius: 8px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.36);
    transition: 0.2s linear;
}

form .signup__btn {
    position: relative;
    bottom: 5rem;
    background: #000000;
    color: white;
    display: block;
    width: 59%;
    max-width: 680px;
    height: 50px;
    border-radius: 8px;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.36);
    transition: 0.2s linear;
}

form .signin__btn:hover {
    box-shadow: 0 0 0 rgba(233, 30, 99, 0);
}

form .kakao_btn {
    top: 0rem;
    position: relative;
    display: block;
    max-width: 680px;
    height: 60px;
    /* border-radius: 8px; */
    margin: auto;
    border: none;
    cursor: pointer;
    /* font-size: 14px; */
    font-family: "Montserrat", sans-serif;
    /* box-shadow: 0 15px 30px rgba(233, 30, 99, 0.36); */
    transition: 0.2s linear;
}

.separator {
    display: block;
    margin: 30px auto 10px;
    text-align: center;
    height: 40px;
    position: relative;
    background: transparent;
    color: rgba(15, 19, 42, 0.4);
    font-size: 13px;
    width: 90%;
    max-width: 680px;
}

.separator::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    background: rgba(15, 19, 42, 0.2);
    height: 1px;
    width: 45%;
}

.separator::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    background: rgba(15, 19, 42, 0.2);
    height: 1px;
    width: 45%;
}

.id_find_btn {
    position: relative;
    right: 105px;
    width: 20%;
    max-width: 682px;
    margin: 45px auto;
    height: 50px;
}

.pw_find_btn {
    bottom: 95px;
    position: relative;
    right: -13rem;
    width: 100%;
    max-width: 682px;
    margin: 45px auto;
    height: 50px;
}

.google__btn {
    display: block;
    width: 100%;
    max-width: 680px;
    margin: 20px auto;
    height: 50px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    border-radius: 8px;
    border: none;
    line-height: 40px;
}

.google__btn.google__btn,
.github__btn.google__btn {
    background: rgba(15, 19, 42, 0.3);
    color: white;
    box-shadow: 0 15px 30px rgba(91, 144, 240, 0.36);
    transition: 0.2s linear;
}

.google__btn.google__btn .fa,
.github__btn.google__btn .fa {
    font-size: 20px;
    padding: 0 5px 0 0;
}

.google__btn.google__btn:hover,
.github__btn.google__btn:hover {
    box-shadow: 0 0 0 rgba(91, 144, 240, 0);
}

.google__btn.github__btn,
.github__btn.github__btn {
    background: #25282d;
    color: white;
    box-shadow: 0 15px 30px rgba(37, 40, 45, 0.36);
    transition: 0.2s linear;
}

.google__btn.github__btn .fa,
.github__btn.github__btn .fa {
    font-size: 20px;
    padding: 0 5px 0 0;
}

.google__btn.github__btn:hover,
.github__btn.github__btn:hover {
    box-shadow: 0 0 0 rgba(37, 40, 45, 0);
}

footer p {

    text-align: center;
}

footer p .fa {
    color: #e91e63;
}

footer p a {
    text-decoration: none;
    font-size: 17px;
    margin: 0 5px;
}

footer p a .fa-facebook {
    color: #3b5998;
}

footer p a .fa-twitter {
    color: #1da1f2;
}

footer p a .fa-instagram {
    color: #f77737;
}

footer p a .fa-linkedin {
    color: #0077b5;
}

footer p a .fa-behance {
    color: #1769ff;
}