<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>PeSitterRead</title>
    <link rel="stylesheet" href="/mainboard/css/detail.css" th:href="@{/mainboard/css/detail.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
          integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
</head>
<body>
<div class="wrap" style="width:800px; height:50%;">
    <div class="slide">
        <ul class="slide_list" th:if="${petSitter.fileDTOList!=null}">
            <li class="slide_item" th:each="petSitterFile, loop : ${petSitter.fileDTOList}">
                <img class="slide_image" th:src="@{|/image/mainboard/${petSitterFile.newFileName}|}"
                     th:alt="${petSitterFile.originFileName}"/>
            </li>
        </ul>
    </div>
    <div class="temporary" th:if="${petSitter.fileDTOList==null}">
        <ul class="temporary_list">
            <li class="temporary_item">
                <img class="temporary_image" src="/mainboard/image/temporary_image01.jpg" alt="petSitter"/>
            </li>
            <!--                <li class="slide_item" >
                                <img class="slide_image" src="/mainboard/image/KakaoTalk_20230902_170952996.jpg" alt="탄이 아주 귀여워요" />
                            </li>
                            <li class="slide_item">
                                <img class="slide_image" src="/mainboard/image/KakaoTalk_20230902_170952996_01.jpg"  alt="누가 고양이이고 누가 사람인지" />
                            </li>
                            <li class="slide_item">
                                <img class="slide_image" src="/mainboard/image/KakaoTalk_20230902_170952996_02.jpg"  alt="시우민 탄이 사진 올려줘" />
                            </li>
                            <li class="slide_item">
                                <img class="slide_image" src="/mainboard/image/KakaoTalk_20230902_170952996_03.jpg"  alt="이렇게 귀여운 고앵이 사진을 4장 밖에 안주는 건 범죄라고 생각합니다." />
                            </li>
                            <li class="slide_item">
                                <img class="slide_image" src="/mainboard/image/KakaoTalk_20230902_170952996_03.jpg"  alt="이렇게 귀여운 고앵이 사진을 4장 밖에 안주는 건 범죄라고 생각합니다." />
                            </li>-->
        </ul>
    </div>
    <div class="buttons" style="text-align: center;"></div>
    <div class="paginations"></div>
</div>
<div class="container">
    <div class="content" th:each="petSitter, loop : ${petSitter}">
        <div class="nickname" th:text="${petSitter.member.nickname}"></div>
        <div class="title" th:text="${petSitter.petTitle}"></div>
        <div class="category_regDate">
            <span class="category" id="category" th:text="${petSitter.category}"></span>&nbsp/&nbsp<span
                class="petCategory" id="petCategory" th:text="${petSitter.petCategory}"></span>&nbsp/&nbsp<span
                class="regDate" th:text="${#temporals.format(petSitter.petRegdate, 'yyyy-MM-dd HH:mm')}"></span>
        </div>
        <div class="icon_content">
            <h3 class="content_title">정보</h3>
            <div class="icon" id="price"><img src="/mainboard/image/pay.png"/><span class="petPrice"
                                                                                    th:if="${petSitter.price!=0}"
                                                                                    th:text="${petSitter.price}"></span>
                <span class="petPrice" th:if="${petSitter.price==0}" th:text="협의"></span></div>
            <div class="icon" id="address"><img src="/mainboard/image/address.png"/><span id="petAddress"
                                                                                          class="petAddress"
                                                                                          th:text="${petSitter.petAddress}"
                                                                                          data-value="${petSitter.petAddress}"></span>
            </div>
            <div class="icon" id="calendar"><img src="/mainboard/image/calendar.png"/><span class="week"
                                                                                            th:if="${petSitter.weekDTOList==null}"
                                                                                            th:text="협의"></span> <span
                    class="week" th:if="${petSitter.weekDTOList!=null}" th:each="week, loop : ${petSitter.weekDTOList}"><span
                    class="week" th:text="${week.day}"></span></span></div>
            <div class="icon" id="time"><img src="/mainboard/image/time.png"/>
                <span class="startTime" th:if="${petSitter.startTime==null}" th:text="협의"></span> <span
                        class="startTime" th:if="${petSitter.startTime!=null}"
                        th:text="${#temporals.format(petSitter.startTime, 'HH:00')+' ~ '}"></span>
                <span class="endTime" th:if="${petSitter.endTime==null}"></span> <span class="endTime"
                                                                                       th:if="${petSitter.endTime!=null}"
                                                                                       th:text="${#temporals.format(petSitter.endTime, 'HH:00')}"></span>
            </div>
        </div>
        <h3 class="content_title">상세내용</h3>
        <div class="petContent" th:text="${petSitter.petContent}"></div>
        <h3 class="content_title">지도</h3>
        <div id="map" style="width:760px;height:400px;"></div>
        <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=eef7a49c730887c01531cc1df9621aae&libraries=services"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            let sitterAddress = /*[[${petSitter.petAddress}]]*/ '';
            console.log(sitterAddress);

            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(37.499635, 127.0305129), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            // 지도를 생성합니다
            var map = new kakao.maps.Map(mapContainer, mapOption);

            // 주소-좌표 변환 객체를 생성합니다
            var geocoder = new kakao.maps.services.Geocoder();

            // 주소로 좌표를 검색합니다
            geocoder.addressSearch(sitterAddress, function (result, status) {

                // 정상적으로 검색이 완료됐으면
                if (status === kakao.maps.services.Status.OK) {

                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                    // 결과값으로 받은 위치를 마커로 표시합니다
                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: coords
                    });

                    // 인포윈도우로 장소에 대한 설명을 표시합니다
                    var infowindow = new kakao.maps.InfoWindow({
                        content: '<div style="width:150px;text-align:center;padding:6px 0;">Sitter Here!</div>'
                    });
                    infowindow.open(map, marker);

                    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                    map.setCenter(coords);
                }
            });
            /*]]>*/
        </script>
        <div class="recommendContainer" id="recommendContainer">
            <div class="recommend" id="recommend">
            </div>
        </div>
        <div th:if="${#authentication.name} != ${petSitter.member.memberId}">
            <button class="btn btn-outline-dark btn-lg my-2" type="button"
                    th:onclick="'createAndEnterRoom(\'' + ${petSitter.sitterNo} + '\');'">연락하기
            </button>        <!-- 이 버튼들도 임시로 여기 좀 두고가요 ....... -->
        </div>
        <div class=""><a th:href="@{|/mainboard/modify/${sitterNo}|}" class="btn btn-outline-dark btn-lg my-2">수정하기</a>
        </div>
        <div class=""><a th:href="@{|/mainboard/delete/${sitterNo}|}" class="btn btn-outline-dark btn-lg my-2" href="#">삭제하기</a>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        window.createAndEnterRoom = function (petsitterId) {
            var host = /*[[${petSitter.member.memberId}]]*/ 'hostId';
            var guest = /*[[${#authentication.name}]]*/ 'guestId';
            console.log(petsitterId);

            // CSRF 토큰 가져오기
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            // AJAX 요청 설정
            $.ajax({
                url: '/chat/room',
                type: 'POST',
                data: {petsitterNo: petsitterId, host: host, guest: guest},
                beforeSend: function (xhr) {
                    // 요청 헤더에 CSRF 토큰 추가
                    xhr.setRequestHeader(header, token);
                },
                success: function (response) {
                    alert("채팅방에 입장합니다.");
                    if (guest !== "" && host !== guest) {
                        localStorage.setItem('sitter.hostId', host);
                        localStorage.setItem('sitter.guestId', guest);
                        localStorage.setItem('sitter.roomId', response.id);
                        localStorage.setItem('sitter.roomUUID', response.roomUUID);
                        location.href = "/chat/room/enter/" + response.roomUUID;
                    }
                },
                error: function () {
                    alert("로그인 후 이용이 가능합니다.");
                }
            });
        }
    });
</script>
<script src="/mainboard/js/slider.js"></script>
<!--<link rel="stylesheet" type="text/css" href="/mainboard/css/bootstrap.min.css" th:href="@{/mainboard/css/bootstrap.min.css}" />-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script>
    window.addEventListener('load', function () {
        const token = $("meta[name='_csrf']").attr("content");
        const header = $("meta[name='_csrf_header']").attr("content");
        let category = $("#category").text();
        let petCategory = $("#petCategory").text();
        let sitterAddress = $("#petAddress").text();
        $.ajax({
            url: "/mainboard/recommend",
            type: "POST",
            data: {
                category: category,
                petCategory: petCategory,
                sitterAddress: sitterAddress
            },
            dataType: "json",
            beforeSend: function (xhr) {
                xhr.setRequestHeader(header, token);
            },
            success: function (data) {
                console.log(data);
                let recommendRes = $("#recommend");
                recommendRes.empty();
                var htmlList = "";
                data.content.forEach(function (content) {
                    if (data.content.length === 0 || data.content.length === null) {
                        htmlList += `<div>등록된 게시글이 없습니다.</div>`;
                        $("#noting").html(htmlList);
                    } else {
                        htmlList += `<a href="/mainboard/detail/` + content.sitterNo + `">
                             <div class="thumbnail-crop" >`;
                        if (content === null || content.fileDTOList === null || content.fileDTOList.length === 0) {
                            htmlList += `<img class="tem_thumbnail" alt="petSitter" id="temp_thumbnail" src="/mainboard/image/tem_img.png" />`;
                        } else {
                            htmlList += `<img class="thumbnail" alt="petSitter" id="user_thumbnail" src="/image/mainboard/` + content.fileDTOList[0].newFileName + `" />`;
                        }
                        htmlList += `</div>
                                 <div class="text-left">
                                 <div>` + content.petTitle + `</div>`;
                        htmlList += `<div>` + content.petAddress + `</div>`;
                        if (content.price !== 0) {
                            htmlList += `<div>` + content.price + `</div>`;
                        } else {
                            htmlList += `<div>협의가능</div>`;
                        }
                        htmlList += `</div></a>`;
                    }
                });
                $("#recommend").html(htmlList);
            },
            error: function (error) {
                console.error(error);
            }
        });
    });
</script>
</body>
</html>