<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainBoardList</title>
    <link rel="stylesheet" type="text/css" href="/mainboard/css/list.css" th:href="@{/mainboard/css/list.css}"/>
</head>
<body>
<div class="wrap">
<h2>PetSitter</h2>
<!-- card section 시작 -->
    <section id="card-list" class="card-list">
        <div class="petSitterContainer">
            <div class="row card-list-container thumbnails"></div>
        </div>
    </section>
<!-- card section 시작 -->
    <div class="back-drop"></div>
</div>
</body>
<script>
    //페이지가 처음 로딩될 때 1page를 보여주기 때문에 초기값 1로 지정
    let currentPage=1;

    //웹 브라우저의 창을 스크롤 할 때마다 호출되는 함수
    $(window).on("scroll", function(){
        //위로 스크롤된 길이
        let scrollTop = $(window).scrollTop();
        //웹브라우저의 창의 높이
        let windowHeight = $(window).height();
        //문서 전체의 높이
        let documentHeight = $(document).height();
        //바닥까지 스크롤 되었는 지 여부
        let isBottom = scrollTop+windowHeight+10 >= documentHeight;

        //마지막 페이지라면 함수 종료
        if(isBottom){
            if(currentPage == ${totalPageCount}) {
                return;
            }
            //추가로 받아올 페이지를 ajax로 요청
            currentPage++;
            console.log("inscroll = "+currentPage);
            GetList(currentPage);
        };
    });
        const GetList = function(currentPage){
            console.log("inGetList = "+currentPage);
            $ajax({
                uri:"mainboard/api/list",
                method:GET,
                data:"pageNum="+currentPage,
                success: function(data){
                    console.log(data);
                    $(".card-list-container").append(toTrList(data.petsitterList));
                }

            })
        }



</script>
</html>