<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainBoardList</title>
    <div th:text="${petSitterList}"></div>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainBoardList</title>
    <link rel="stylesheet" type="text/css" href="/mainboard/css/list.css" th:href="@{/mainboard/css/list.css}"/>
</head>
<body>
<div class="wrap">
    <h2>PetSitter</h2>

    <!-- 글작성 버튼 임시로 여기 좀 둘게요 헤헤.......... -->
    <button><a sec:authorize="isAuthenticated()" th:href="@{/mainboard/write}">메인게시판 글작성</a></button>
    <button><a th:href="@{/main}">임시메인페이지</a></button>

    <div class="petSitterContainer">
        <div th:each="petSitter, loop :${petSitterList}" >
            <a th:href="@{|/mainboard/detail/${petSitter.sitterNo}|}">
                <div class="petSitterItem">
                    <img alt="petSitter" id="thumbnail" src="/mainboard/image/manggle04.png" style="width: 200px; height:200px;"/>
                    <div th:text="${petSitter.petTitle}"></div>
                    <div th:data-sitterno="${petSitter.sitterNo}"></div>
                    <div th:text="${petSitter.petAddress}"></div>
                    <div th:if="${petSitter.price!=0}" th:text="${petSitter.price}"></div>
                    <div th:if="${petSitter.price==0}" th:text="협의가능"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<script src="app.js"></script>
</body>
<!--
<script>
    /*
    const defaultArticlePaginationSize = 6;

    const getScrollTop = function() {
        return (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
    };

    const getDocumentHeight = function () {
        const body = document.body;
        const html = document.documentElement;

        return Math.max(
            body.scrollHeight, body.offsetHeight,
            html.clientHeight, html.scrollHeight, html.offsetHeight
        );
    };

    const onscroll = function () {
        if (getScrollTop() === getDocumentHeight() - window.innerHeight) {
            const petSitterCard = document.querySelectorAll('.petSitter-card');

            const lastArticleId = Array.from(petSitterCard).map(function (card) {
                const sitterNo = card.getAttribute('data-sitterno');
                return parseLong(sitterNo, 10);
            }).reduce(function (previous, current) {
                return previous > current ? current : previous;
            });

            // mainBoardService.getListInfinite(lastArticleId, defaultArticlePaginationSize);
            // Ajax 로직 실행
            // 위에서 주석 처리된 코드는 서버에서 데이터를 가져와서 추가하는 로직을 포함해야 합니다.
        }
    };

//Ajax를 이용하여 특정 페이지 데이터 요청
function scroll() {
    $.ajax({
        url: '/api/list',
        type: 'GET',
        data: {
            lastArticleId: ,
            size: size,
        },
        success: function (data) {
            data.forEach(function (json) {
                // 가져온 게시물 데이터를 DOM에 그리는 작업
            });
        },
        error: function (xhr, status, error) {
            // 에러 처리
            console.error(error);
        }
    });
}
    */
</script>
-->
</html>