<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>글쓰기</title>
<link rel="stylesheet" type="text/css" href="/mainboard/css/write.css" th:href="@{/mainboard/css/write.css}"/>
</head>
<body>
<div class="wrap">
    <h2 class="my-3 border-bottom pb-2">게시글 작성</h2>
    <form id="writeForm" th:action="@{/mainboard/write}" th:object="${writeForm}" method="post"
          enctype="multipart/form-data">
        <!-- 유효성 검사시 에러 메세지 출력 영역 -->
        <div th:if="${#fields.hasAnyErrors()}">
            <div th:each="err: ${#fields.allErrors()}" th:text="${err}"></div>
        </div>
        <div class="mb-3">
            <img class="mb-3 rounded float-start" src="#" id="preview" style="width:130px; height:130px;"/>
            <input type="file" multiple="multiple" th:field="*{boardFile}" id="boardFile" name="boardFile"
                   onchange="readURL(this); checkExtension(this);" class="mt-3 form-control">
        </div>
        <div class="mb-3 grid text-center form-floating">
            <input type="text" class="form-control" name="petTitle" id="petTitle" th:field="*{petTitle}">
            <label for="petTitle" class="form-label">제목</label>
        </div>
        <!--<div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Options</label>
            <select th:field="*{category}" th:name="category" class="form-select" id="inputGroupSelect01">
                <option selected required>당신이 찾고 있는 사람은 펫부모입니까, 펫시터입니까?</option>
                <option value="offer" required>Pet Parant</option>
                <option value="search" required>Pet Sitter</option>
            </select>
        </div>-->
        <!--<div class="mb-3">
            <div class="mb-3" readonly="readonly"> 당신은 펫부모입니까, 펫시터입니까?"</div>
            <input type="radio" th:field="*{category}" th:name="category" value="offer">Pet Parant
            <input type="radio" th:field="*{category}" th:name="category" value="search">Pet Sitter
        </div>-->
        <div class="mb-3 input-group">
            <input type="text" class="form-control" id="categoryInput" aria-label="Text input with radio button" placeholder="당신은 펫부모입니까, 펫시터입니까?" disabled="disabled">
            <div class="input-group-text" id="categoryDiv">
                <input class="form-check-input mt-0" type="radio" th:field="*{category}" th:value="offer" aria-label="Radio button for following text input">Pet Parant
                <input class="form-check-input mt-0" type="radio" th:field="*{category}" th:value="search" aria-label="Radio button for following text input">Pet Sitter
            </div>
        </div>
        <div class="mb-3 input-group">
            <input type="text" class="form-control" id="petCategoryInput" aria-label="Text input with radio button" placeholder="당신의 펫은 강아지인가요, 고양이인가요?" disabled="disabled">
            <div class="input-group-text" id="petCategoryDiv">
                <input class="form-check-input mt-0" type="radio" th:field="*{petCategory}" th:value="dog" aria-label="Radio button for following text input">강아지
                <input class="form-check-input mt-0" type="radio" th:field="*{petCategory}" th:value="cat" aria-label="Radio button for following text input">고양이
            </div>
        </div>
        <!--<div class="mb-3">
            <div>당신의 펫은 강아지인가요, 고양이인가요?</div>
            <input type="radio" th:field="*{petCategory}" th:name="petCategory" th:value="dog">강아지
            <input type="radio" th:field="*{petCategory}" th:name="petCategory" th:value="cat">고양이
        </div>-->
        <div class="mb-3">
            <div class="mb-3 grid text-center form-floating" id="priceDiv">
                <input type="text" class="form-control" name="price" id="price" th:field="*{price}">
                <label for="price" class="form-label">가격</label>
            </div>
            <div class="mb-3" id="dayDiv">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="mon" name="weekList" value="월">
                    <label class="form-check-label" for="mon">월</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="tue" name="weekList" value="화">
                    <label class="form-check-label" for="tue">화</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="wed" name="weekList" value="수">
                    <label class="form-check-label" for="wed">수</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="thur" name="weekList" value="목">
                    <label class="form-check-label" for="thur">목</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="fri" name="weekList" value="금">
                    <label class="form-check-label" for="fri">금</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="sat" name="weekList" value="토">
                    <label class="form-check-label" for="sat">토</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="sun" name="weekList" value="일">
                    <label class="form-check-label" for="sun">일</label>
                </div>
            </div>
        </div>
        <div>
            <div class="mb-3 grid text-center form-floating" id="startTimeFloating">
                <input type="datetime-local" name="startTime" id="startTime" th:field="*{startTime}" class="form-control">
                <label for="startTime">시작시간</label>
            </div>
            <div class="mb-3 grid text-center form-floating" id="endTimeFloating">
                <input type="datetime-local" name="endTime" id="endTime" th:field="*{endTime}" class="form-control">
                <label for="endTime">끝시간</label>
            </div>
        </div>
        <div class="mb-3">
            <div class="mb-3 grid text-center form-floating" id="addressDiv">
                <input type="text" name="petAddress" id="sample6_address" th:field="*{petAddress}" class="form-control float-start">
                <label for="sample6_address">주소</label>
            </div>
            <div class="mb-3 grid text-center form-floating" id="detailAddressDiv">
                <input type="text" name="petAddress" id="sample6_detailAddress" th:field="*{petAddress}" class="form-control float-start">
                <label for="sample6_detailAddress">상세주소</label>
            </div>
            <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기" class="btn btn-light">
            <input type="hidden" name="petAddressEct" id="sample6_postcode" placeholder="우편번호">
            <input type="hidden" name="petAddressEct" id="sample6_extraAddress" placeholder="참고항목">
        </div>
        <div class="mb-3">
            <label for="petContent" class="form-label"></label>
            <textarea type="text"class="form-control"name="petContent"id="petContent" th:field="*{petContent}" cols="100" rows="8" placeholder="내용을 입력하세요."></textarea>
        </div>
        <div class="writeBtn">
            <input type="submit" value="글등록" class="btn btn-light">
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if (data.userSelectedType === 'R') {
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraAddr !== '') {
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("sample6_detailAddress").focus();
            }
        }).open();
    }


    function readURL(obj) {
        if (obj.files && obj.files[0]) { //파일이 있드면
            var reader = new FileReader(); //FileReader()객체생성
            reader.onload = function (e) {
                //id가 preview인 요소의 src속성값을 설정 =>img src속성값을 파일명으로 적용
                document.getElementById('preview').src = e.target.result;
            }
            reader.readAsDataURL(obj.files[0]);
        }
    }

    var regex = new RegExp("(.*?)\.(jpg|png|GIF)$");
    var maxSixe = 5242880;

    function checkExtension(obj) {
        var files = obj.files;
        if (!regex.test(files[0].name)) {
            alert("해당 종류의 파일은 업로드할 수 없습니다.")
            document.getElementById("boardFile").value = "";
            return false;
        }
        if (files[0].size >= maxSixe) {
            alert("파일 사이즈 초과");
            document.getElementById("boardFile").value = "";
            return false;
        }
        return true;
    }

</script>
</body>
</html>