<html layout:decorate="~{admin/layout}">
<div layout:fragment="adminContent" class="boardDetail container my-3">

    <h2 class="border-bottom py-2" th:text="${boardDetail.petTitle}"></h2>
    <div class="name-date">
            <span>
                <span class="badge bg-light text-dark p-2 text-start">
                    <span class="d-flex justify-content-sm-start">
                        <span th:if="${boardDetail.member!=null}" th:text="${boardDetail.member.name}"></span>
                    </span>
                </span>
                <span class="date">
                    <span class="badge bg-light text-dark p-2 text-start">
                        <td th:text="${#temporals.format(boardDetail.petRegdate,'yyyy-MM-dd HH:mm')}"></td>
                    </span>
                </span>
            </span>
    </div>
    <div class="card my-3">
        <div class="card-body">
            <div class="slide">
                <div class="slide_list" th:if="${boardDetail.fileDTOList!=null}">
                    <div class="img-size">
                        <div class="slide_item" th:each="boardFile, loop : ${boardDetail.fileDTOList}">
                            <img class="slide_image" th:src="@{|/image/mainboard/${boardFile.newFileName}|}"
                                 th:alt="${boardFile.originFileName}"/>
                        </div>
                    </div>
                </div>
                <div class="card-text" style="white-space:pre-line;" th:text="${boardDetail.petContent}"></div>
            </div>

        </div>
    </div>

    <div class="modifyAndDelete my-3">
        <a th:href="@{|/admin/modify/${boardDetail.sitterNo}|}"
           class="btn btn-modify-boardDetail btn-outline-secondary" th:text="수정"></a>

        <a href="javascript:void(0);" th:data-uri="@{|/admin/delete/${boardDetail.sitterNo}|}"
           class="delete btn btn-delete-boardDelete btn-outline-secondary" th:text="삭제"></a>

    </div>



