<html layout:decorate="~{admin/layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="adminContent" class="container my-4">
    <div class="container my-3" id="h3AndSearch">
        <h3>구합니다</h3>
        <div class="search">
            <input class="searchInput" type="text" placeholder="검색어 입력">
            <img  class="searchImg" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
        </div>
    </div>
    <!--<a th:href="@{/question/add}" class="btn btn-primary" id="topQuestionBtn">글쓰기</a>-->
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>반려동물</th>
            <th>제목</th>
            <th>조회수</th>
            <th>닉네임</th>
            <th>이름</th>
            <th>시작시간</th>
            <th>종료시간</th>
            <th>질문등록일</th>
            <th>관리</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="petSitterDTO, loop : ${boardPage}">
            <td th:text="${boardPage.getTotalElements - (boardPage.number * boardPage.size) - loop.index}"></td>

            <!--<td th:text="${petSitterDTO.sitterNo}"></td>-->
            <td th:text="${petSitterDTO.petCategory}"></td>

            <!--요청주소 http://localhost/포트/question/detail?id/1~100
                <td th:text="${question.subject}"><a href="/question/detail?id=${question.id}"></a></td>-->
            <td>
                <!--요청주소 http://localhost/포트/question/detail/1~100
                th:href속성에서 주소를 나타낼때에는 반드시@{}을 이용해야한다
                @{URL}
                주의:URL이 조하되어질대에는 @{||} 작성해야한다-->

                <a th:href="@{|/admin/detail/${petSitterDTO.sitterNo}|}"
                   th:text="${petSitterDTO.petTitle}"></a>
                <!-- 답변갯수출력 : 답변갯수가 0개 초과시 출력 -->
                <!--<span class="text-danger small ms-1"
                      th:if="${#lists.size(question.answerList)>0}"
                      th:text="${#lists.size(question.answerList)}"></span>-->
            </td>
            <td th:text="${petSitterDTO.petViewCnt}"></td>
            <td th:if="${petSitterDTO.member!=null}" th:text="${petSitterDTO.member.nickname}"></td>
            <td th:if="${petSitterDTO.member!=null}" th:text="${petSitterDTO.member.name}"></td>
            <!-- temporals.format(날짜대상,"date포맷") -->
            <td th:text="${#temporals.format(petSitterDTO.startTime,'yyyy.MM.dd')}"></td>
            <td th:text="${#temporals.format(petSitterDTO.endTime,'yyyy.MM.dd')}"></td>
            <td th:text="${#temporals.format(petSitterDTO.petRegdate,'yyyy-MM-dd HH:mm')}"></td>
            <td>
                <a th:href="@{|/admin/modify/${petSitterDTO.sitterNo}|}"
                   class="btn btn-modify-custom btn-outline-secondary" th:text="수정"></a>

                <a th:data-uri="'/admin/delete/' + ${petSitterDTO.sitterNo}"
                   class="delete btn  btn-delete-custom btn-outline-secondary">삭제</a>
            </td>
        </tr>
        </tbody>
    </table>
    <!--Pagenation 부분 영역-->
    <div th:if="${!boardPage.isEmpty()}">
        <ul class="pagination justify-content-center">
            <!-- 이전버튼:조건 -->
            <li class="page-item"
                th:classappend="${!boardPage.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${boardPage.number-1}|}"><span>이전</span></a>
            </li>
            <!-- 페이지번호:반복+연결+bootstrap [1] [2] [3] ~ [10] -->
            <li class="page-item"
                th:each="page:${#numbers.sequence(0,boardPage.totalPages-1)}"
                th:if="${page>=boardPage.number-3 and page<=boardPage.number+3}"
                th:classappend="${page==boardPage.number}? 'active'">
                <a class="page-link"
                   th:href="@{|?page=${page}|}"
                   th:text="${page+1}">
                </a>
            </li>
            <!-- 다음버튼 -->
            <li class="page-item"
                th:classappend="${!boardPage.hasNext} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${boardPage.number+1}|}"><span>다음</span>
                </a>
            </li>
        </ul>
    </div>
</div>