<html layout:decorate="~{admin/layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="adminContent" class="container my-4">
    <h1 class="boardlist">게시판</h1>
    <table class="table container my-4">
        <thead class="table-nav-tr">
        <tr>
            <th>번호</th>
            <th>반려동물</th>
            <th>제목</th>
            <th>조회수</th>
            <th>닉네임</th>
            <th>이름</th>
            <th>시작시간</th>
            <th>종료시간</th>
            <th>질문등록일</th>
            <th>관리</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="petSitterDTO, loop : ${boardPage}">

            <td th:text="${boardPage.getTotalElements - (boardPage.number * boardPage.size) - loop.index}"></td>

            <td th:text="${petSitterDTO.petCategory}"></td>

            <td>
                <a th:href="@{|/admin/detail/${petSitterDTO.sitterNo}|}"
                   th:text="${petSitterDTO.petTitle}"></a>
            </td>
            <td th:text="${petSitterDTO.petViewCnt}"></td>
            <td th:if="${petSitterDTO.member!=null}" th:text="${petSitterDTO.member.Nickname}"></td>
            <td th:if="${petSitterDTO.member!=null}" th:text="${petSitterDTO.member.name}"></td>
            <!-- temporals.format(날짜대상,"date포맷") -->
            <td th:text="${#temporals.format(petSitterDTO.startTime,'yyyy.MM.dd')}"></td>
            <td th:text="${#temporals.format(petSitterDTO.endTime,'yyyy.MM.dd')}"></td>
            <td th:text="${#temporals.format(petSitterDTO.petRegdate,'yyyy-MM-dd HH:mm')}"></td>

            <td>
                <a th:href="@{|/admin/modify/${petSitterDTO.sitterNo}|}"
                   class="btn btn-modify-custom btn-outline-secondary" th:text="수정"></a>

                <a th:data-uri="'/admin/delete/' + ${petSitterDTO.sitterNo}"
                   class="delete btn  btn-delete-custom btn-outline-secondary">삭제</a>
            </td>
        </tr>
        </tbody>
    </table>
    <!--Pagenation 부분 영역-->
    <div th:if="${!boardPage.isEmpty()}">
        <ul class="pagination justify-content-center">
            <!-- 이전버튼:조건 -->
            <li class="page-item"
                th:classappend="${!boardPage.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${boardPage.number-1}|}"><span>이전</span></a>
            </li>
            <!-- 페이지번호:반복+연결+bootstrap [1] [2] [3] ~ [10] -->
            <li class="page-item"
                th:each="page:${#numbers.sequence(0,boardPage.totalPages-1)}"
                th:if="${page>=boardPage.number-3 and page<=boardPage.number+3}"
                th:classappend="${page==boardPage.number}? 'active'">
                <a class="page-link"
                   th:href="@{|?page=${page}|}"
                   th:text="${page+1}">
                </a>
            </li>
            <!-- 다음버튼 -->
            <li class="page-item"
                th:classappend="${!boardPage.hasNext} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${boardPage.number+1}|}"><span>다음</span>
                </a>
            </li>
        </ul>
    </div>
</div>