<html layout:decorate="~{admin/layout}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="adminContent" class="container my-4">
    <h1 class="memberlist">회원목록</h1>
    <table class="table container my-4">
        <thead class="">
        <tr class="table-nav-tr">
            <th>회원번호</th>
            <th>이름</th>
            <th>아이디</th>
            <th>닉네임</th>
            <th>휴대폰</th>
            <th>이메일</th>
            <th>기능</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="memberDTO, loop : ${memberPage}">
            <td th:text="${memberDTO.id}"></td>

            <td><a th:href="@{|/admin/memberDetail/${memberDTO.id}|}"
                   th:text="${memberDTO.name}"></a></td>

            <td th:text="${memberDTO.memberId}"></td>
            <td th:text="${memberDTO.Nickname}"></td>
            <td th:text="${memberDTO.phone}"></td>
            <td th:text="${memberDTO.EMail}"></td>
            <td>
                <a th:href="@{|/admin/memberModify/${memberDTO.id}|}"
                   class="btn btn-modify-custom btn-outline-secondary" th:text="수정"></a>

                <a th:data-uri="'/admin/memberDelete/' + ${memberDTO.id}"
                   class="delete btn  btn-delete-custom btn-outline-secondary">삭제</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${!memberPage.isEmpty()}">
        <ul class="pagination justify-content-center">
            <!-- 이전버튼:조건 -->
            <li class="page-item"
                th:classappend="${!memberPage.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${memberPage.number-1}|}"><span>이전</span></a>
            </li>
            <!-- 페이지번호:반복+연결+bootstrap [1] [2] [3] ~ [10] -->
            <li class="page-item"
                th:each="page:${#numbers.sequence(0,memberPage.totalPages-1)}"
                th:if="${page>=memberPage.number-3 and page<=memberPage.number+3}"
                th:classappend="${page==memberPage.number}? 'active'">
                <a class="page-link"
                   th:href="@{|?page=${page}|}"
                   th:text="${page+1}">
                </a>
            </li>
            <!-- 다음버튼 -->
            <li class="page-item"
                th:classappend="${!memberPage.hasNext} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${memberPage.number+1}|}"><span>다음</span>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>