<html layout:decorate="~{admin/layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="adminContent" class="container">
    <h1 class="my-3 h1-membermodify">회원수정</h1>

    <form id="adminMemberForm" th:object="${adminMemberForm}" method="post" >



        <table class="memberDetailTable">
            <tr>
                <td>회원번호</td>
                <td th:text="${id}"></td>
                <td th:text="${id}" readonly="readonly"></td>
            </tr>

            <tr>
                <td>아이디</td>
                <td th:text="${memberDTO.memberId}"></td>
                <td><input  type="text" th:field="*{memberId}" readonly="readonly"></td>
            </tr>

            <tr>
                <td>이름</td>
                <td th:text="${memberDTO.name}"></td>
                <td><input th:field="*{name}"></td>
            </tr>

            <tr>
                <td>닉네임</td>
                <td th:text="${memberDTO.Nickname}"></td>
                <td><input th:field="*{nickname}"></td>
            </tr>

            <tr>
                <td>생년월일</td>
                <td th:text="${memberDTO.birth}"></td>
                <td><input th:field="*{birth}"></td>
            </tr>

            <tr>
                <td>핸드폰번호</td>
                <td th:text="${memberDTO.phone}"></td>
                <td><input th:field="*{phone}"></td>
            </tr>

            <tr>
                <td>주소</td>
                <td th:text="${memberDTO.address}"></td>
                <td><input th:field="*{address}"></td>
            </tr>

            <tr>
                <td>이메일주소</td>
                <td th:text="${memberDTO.eMail}"></td>
                <td><input th:field="*{eMail}"></td>
            </tr>

        </table>
        <input type="submit" value="저장" class="btn btn-save-form btn-primary"/>
    </form>
</div>
