<html layout:decorate="~{admin/layout}" xmlns:th="http://www.thymeleaf.org">
<div layout:fragment="adminContent" class="container">

    <h1 class="my-3 h1-memberdetail border-bottom pb-2">회원수정</h1>
    <tbody>
    <table class="memberDetailTable">
        <tr>
            <td>회원번호</td>
            <td th:text="${memberDetail.id}"></td>
        </tr>

        <tr>
            <td>아이디</td>
            <td th:text="${memberDetail.memberId}"></td>
        </tr>

        <tr>
            <td>이름</td>
            <td th:if="${memberDetail.name!=null}" th:text="${memberDetail.name}"></td>
        </tr>

        <tr>
            <td>닉네임</td>
            <td th:if="${memberDetail.Nickname!=null}" th:text="${memberDetail.Nickname}"></td>
        </tr>

        <tr>
            <td>생년월일</td>
            <td th:text="${memberDetail.birth}"></td>
        </tr>

        <tr>
            <td>핸드폰번호</td>
            <td th:text="${memberDetail.phone}"></td>
        </tr>

        <tr>
            <td>주소</td>
            <td th:text="${memberDetail.address}"></td>
        </tr>

        <tr>
            <td>이메일주소</td>
            <td th:text="${memberDetail.eMail}"></td>
        </tr>

    </table>
    </tbody>

    <span class="btn-detail" colspan="2" align="center">
        <a th:href="@{|/admin/memberModify/${memberDetail.id}|}"
           class="btn btn-modify-memberDetail btn-outline-secondary" th:text="수정"></a>

        <a href="javascript:void(0);" th:data-uri="@{|/admin/memberDelete/${memberDetail.id}|}"
           class="delete btn btn-delete-memberDelete btn-outline-secondary" th:text="삭제"></a>
    </span>
</div>
