<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- 여기에 필요한 스타일시트 및 스크립트를 추가하세요. -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container my-3">
    <h1>질문 목록</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">글쓴이</th>
            <th scope="col">등록일</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question, loop : ${petsitterPage}">
            <th scope="row" th:text="${petsitterPage.totalElements - (petsitterPage.number * petsitterPage.size) - loop.index}"></th>
            <td>
                <a th:href="@{|/mainboard/detail/${question.sitterNo}|}" th:text="${question.petTitle}"></a>
            </td>
            <td th:if="${question.member != null}" th:text="${question.member.memberId}"></td>
            <td th:text="${#temporals.format(question.petRegdate,'yyyy-MM-dd HH:mm')}"></td>
            <td>
                <!-- 채팅 보기 버튼 또는 메시지 표시 -->
                <th:block th:if="${question != null}">
                    <a th:href="@{|/mypage/myChatRoomList/${question.sitterNo}|}">
                        <button type="button" class="btn btn-primary">채팅보기</button>
                    </a>
                </th:block>
                <th:block th:if="${question == null}">
                    <span>채팅 내역이 없습니다.</span>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/question/add}" class="btn btn-success">질문등록하기</a>

    <!-- 페이지네이션 부분 -->
    <div th:if="${!petsitterPage.isEmpty()}" class="text-center">
        <ul class="pagination">
            <li class="page-item" th:classappend="${!petsitterPage.hasPrevious} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${petsitterPage.number-1}|}">이전</a>
            </li>
            <li class="page-item" th:each="page : ${#numbers.sequence(0,petsitterPage.totalPages-1)}"
                th:if="${page >= petsitterPage.number-3 and page <= petsitterPage.number+3}"
                th:classappend="${page==petsitterPage.number} ? 'active'">
                <a class="page-link" th:href="@{|?page=${page}|}" th:text="${page+1}"></a>
            </li>
            <li class="page-item" th:classappend="${!petsitterPage.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${petsitterPage.number+1}|}">다음</a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
