<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
<head>
    <style>
        .table-orange {
            background-color: orange;
            color: white; /* 글자색을 흰색으로 설정 */
        }
    </style>
</head>
    <table class="table">
        <thead class="table-orange">
        <tr>

            <th>제목</th>

            <th>챗방생성일</th>

        </tr>
        </thead>
        <tbody>

        <tr th:each="question, loop : ${chatRoomDTO}">

            <td>

                <a href="/mainboard/detail/${question.sitterNo}"
                   th:href="@{|/chat/room/enter/${question.roomUUID}|}"
                   th:text="${question.name}"></a>

            </td>

            <!-- temporals.format(날짜대상,"date포맷") -->
            <td th:text="${#temporals.format(question.createDate,'yyyy-MM-dd HH:mm')}"></td>


        </tr><!--1페이지당 출력할 게시물수만큼 반복끝-->
        </tbody>
    </table>

    <!-- Pagenation 부분 영역 시작-->
    <div th:if="${ !chatRoomDTO.isEmpty() }">
        <ul class="pagination justify-content-center">
            <!-- 이전버튼:조건  -->
            <li class="page-item"
                th:classappend="${!chatRoomDTO.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${chatRoomDTO.number-1}|}"><span>이전</span></a>
            </li>
            <!-- 페이지번호:반복+연결+bootstrap [0] [1] [2] [3~]  [4] [5] [6] [7]~~[9] [10] [11]  -->
            <li class="page-item"
                th:each="page : ${#numbers.sequence(0,chatRoomDTO.totalPages-1)}"
                th:if="${  page>=chatRoomDTO.number-3 and  page<=chatRoomDTO.number+3 }"
                th:classappend="${page==chatRoomDTO.number} ? 'active'">
                <a class="page-link"
                   th:href="@{|?page=${page}|}"
                   th:text="${page+1}"></a>
            </li>
            <!-- 다음버튼:조건  -->
            <li class="page-item"
                th:classappend="${!chatRoomDTO.hasNext} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${chatRoomDTO.number+1}|}"><span>다음</span></a>
            </li>
        </ul>
    </div><!-- Pagenation 부분 영역 끝-->

</div>









