<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>


            <th>글쓴이</th>
            <th>내용</th>
            <th>보낸시간</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question, loop : ${chatMessageDTO}">


            <td  th:if="${question.sender!=null}" th:text="${question.sender.memberId}"></td>
            <td  th:if="${question.content!=null}" th:text="${question.content}"></td>
            <td th:text="${#temporals.format(question.sendTime,'yyyy-MM-dd HH:mm')}"></td>


        </tr><!--1페이지당 출력할 게시물수만큼 반복끝-->
        </tbody>
    </table>


    <!-- Pagenation 부분 영역 시작-->


</div>









