<html layout:decorate="~{layout}" class="container my-3">
<div layout:fragment="content">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${petsitter.petTitle}"></h2>
    <div class="card my-3">
        <div class="card-body"> <!-- white-space:pre-line; 줄바꿈 인식하고, 공백은 앞쪽만 인식 -->
            <div class="card-text" style="white-space:pre-line;" th:text="${petsitter.petContent}"></div>
            <div class="d-flex justify-content-end">  <!--d-flex:한개의 row를 block레벨로 처리-->
                <div class="badge bg-light text-dark p-2 text-start">
                    <div th:if="${petsitter.member!=null}"  th:text="${petsitter.member.memberId}"></div>
                </div>
                <div th:text="${#temporals.format(petsitter.petRegdate,'yyyy-MM-dd HH:mm')}"/>
            </div>
            <div class="my-3">
                <a th:href="@{/mypage/info}"
                   class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${ petsitter.member!=null and #authentication.getPrincipal().getUsername()==petsitter.member.memberId}"
                   th:text="수정"></a>
            </div>
        </div>
    </div>
</div>

<!-- javascript부분 -- ----------------------------->
<script layout:fragment="script">
    const delElements = document.getElementsByClassName("delete");
    Array.from(delElements).forEach(function(element){

        element.addEventListener("click",function(){
            if(confirm("정말로 삭제할거임?")){//확인버튼을 클릭하면
                location.href=this.dataset.uri;
            };
        });
    });
</script>














