<html layout:decorate="~{layout}" class="container my-3">
<div layout:fragment="content">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${petsitter.petTitle}"></h2>
    <div class="card my-3">
        <div class="card-body"> <!-- white-space:pre-line; 줄바꿈 인식하고, 공백은 앞쪽만 인식 -->
            <div class="card-text" style="white-space:pre-line;" th:text="${petsitter.petContent}"></div>
            <div class="d-flex justify-content-end">  <!--d-flex:한개의 row를 block레벨로 처리-->
                <div class="badge bg-light text-dark p-2 text-start">
                    <div th:if="${petsitter.member!=null}"  th:text="${petsitter.member.memberId}"></div>
                </div>
                <div th:text="${#temporals.format(petsitter.petRegdate,'yyyy-MM-dd HH:mm')}"/>
            </div>
            <div class="my-3">
                <!-- 질문수정버튼 - 로그인해야지만 수정가능, 로그인한유저가 글쓴이와 동일해야만 한다 -->
                <a th:href="@{/mypage/info}"
                   class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${ petsitter.member!=null and #authentication.getPrincipal().getUsername()==petsitter.member.memberId}"
                   th:text="수정"></a>
                <!-- 질문삭제버튼 - 로그인해야지만 삭제가능, 로그인한유저가 글쓴이와 동일해야만 한다-->
                <!--<a href="javascript:void(0);"   th:data-uri="@{|/question/delete/${question.id}|}"
                   class="delete btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${ question.writer!=null and #authentication.getPrincipal().getUsername()==question.writer.username}"
                   th:text="삭제"></a>-->
                <!-- 질문??버튼 -->
            </div>
        </div>
    </div>
    <!-- 답변갯수 출력 -->
    <!--<h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>-->
    <!-- 반복:답변목록시작 -->
    <!--<div class="card my-3">
        <div class="card-body" th:each="answer:${question.answerList}" >
            <div class="card-text" style="white-space:pre-line;"  th:text="${answer.content}"></div>
            <div class="d-flex justify-content-end">  &lt;!&ndash;d-flex:한개의 row를 block레벨로 처리&ndash;&gt;
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="my-2">
                        <span th:if="${answer.writer!=null}"  th:text="${answer.writer.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(answer.createDate,'yyyy-MM-dd HH:mm')}"/>
                </div>
            </div>
            &lt;!&ndash; 답변수정버튼 - 로그인해야지만 수정가능, 로그인한유저가 글쓴이와 동일해야만 한다&ndash;&gt;
            <a th:href="@{|/answer/modify/${answer.id}|}"
               class="btn btn-sm btn-outline-secondary"
               sec:authorize="isAuthenticated()"
               th:if="${answer.writer!=null and #authentication.getPrincipal().getUsername()==answer.writer.username}"
               th:text="수정"></a>
            &lt;!&ndash; 답변삭제버튼 - 로그인해야지만 삭제가능, 로그인한유저가 글쓴이와 동일해야만 한다 &ndash;&gt;
            <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
               class="delete btn btn-sm btn-outline-secondary"
               sec:authorize="isAuthenticated()"
               th:if="${answer.writer!=null and #authentication.getPrincipal().getUsername()==answer.writer.username}"
               th:text="삭제"></a>
        </div>
    </div>  &lt;!&ndash; 반복:답변목록끝 &ndash;&gt;
    &lt;!&ndash; 답변등록폼 &ndash;&gt;
    <form id="answerForm" class="my-3" th:object="${answerForm}" th:action="@{|/answer/add/${question.id}|}"  method="post">
        &lt;!&ndash;<form id="answerForm" class="my-3" action="/answer/add" method="post">&ndash;&gt;
        &lt;!&ndash;<input type="text" name="id" value="301"/>&ndash;&gt;
        &lt;!&ndash; 유효성검사시 에러메세지 출력영역 &ndash;&gt;
        <div th:replace="~{form_errors::formErrorsFragment}"></div>
        &lt;!&ndash; 타임리프의 security이용
                    sec:authorize="isAnonymous()"은 로그인하지않는 경우-> 답변등록사용불가
                    sec:authorize="isAuthenticated()"은 로그인한 경유-> 답변등록사용가능&ndash;&gt;
        <textarea  sec:authorize="isAnonymous()" th:field="*{content}" disabled="disabled" rows="8" class="form-control"></textarea>
        <textarea  sec:authorize="isAuthenticated()" th:field="*{content}"  rows="8" class="form-control"></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2"/>
    </form>-->
</div>

<!-- javascript부분 -- ----------------------------->
<script layout:fragment="script">
    const delElements = document.getElementsByClassName("delete");
    Array.from(delElements).forEach(function(element){

        //$(".delete").on("click",function(){ alert("정말삭제할거여?"); });
        element.addEventListener("click",function(){
            if(confirm("정말로 삭제할거임?")){//확인버튼을 클릭하면
                //click이벤트가 발생한 a요소의  data-uri속성의 값을 가져와
                //location객체의 href속성의 값으로 적용해라
                //=>현재 browser의 URL주소를 변경해라
                location.href=this.dataset.uri;
                //location.href="/question/delete/${question.id}";//질문삭제요청
                //location.href="/answer/delete/${answer.id}";//답변삭제요청
            };
        });
    });
</script>

<!-- 기본 기능
  th:text="${}"
  th:href="@{}"
  th:with="${}"
  th:value="${}"

-Layout
  xmlns:layout="", layout:decorator=""
  th:block
  th:fragment=""
  th:replace="~{파일경로 :: 조각이름}"
  th:insert="~{파일경로 :: 조각이름}"

-Form
  th:action="@{}"
  th:object="${}"
  th:field="*{}"

-조건문과 반복문
  th:if="${}", th:unless="${}"
  th:each="변수 : ${list}"
  th:switch, th:case

-Number.sequest
  #numbers.sequest(start, end, step)

-->















