<html layout:decorate="~{layout}" class="container my-3">
<div layout:fragment="content">
    <link rel="stylesheet" type="text/css" th:href="@{/qna/css/questionForm.css}">
    <form id="NoticeForm" th:action="@{/notice/write}" enctype="multipart/form-data" method="post">
        <div class="container">
            <h1>공지게시판</h1>
            <div class="row row1">
                <table class="table">
                    <tr>
                        <th class="text-right">제목</th>
                        <td>
                            <input type="text" name="noTitle" size=50 class="input-sm">
                        </td>
                    </tr>
                    <tr>
                        <th class="text-right">내용</th>
                        <td>
                            <textarea rows="10" cols="50" name="noContent"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-right">첨부파일</th>
                        <td>
                            <input  type="file" multiple ="multiple" name="file" size=15 class="input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center border-0" colspan="2">
                            <input class="btn btn-modify-custom btn-outline-secondary" type="submit" value="등록">
                            <a th:href="@{'/notice/list'}">
                                <button type="button" class="btn btn-modify-custom btn-outline-secondary">취소</button>
                            </a>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </form>
</div>
</html>