<html layout:decorate="~{layout}" class="container my-3">
<div layout:fragment="content" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form  th:action="@{/notice/update}" enctype="multipart/form-data" method="post">
    <input type="hidden" name="_method" value="put"/>
    <input type="hidden" name="noNo" th:value="${noticeDTO.noNo}"/>
    제목 : <input type="text" name="noTitle" th:value="${noticeDTO.noTitle}"> <br>
    <textarea name="noContent" th:text="${noticeDTO.noContent}"></textarea><br>
    <input type="submit" value="수정">
</form>

</body>
</html>