<html layout:decorate="~{layout}" class="container my-3">
<div layout:fragment="content">
    <link rel="stylesheet" type="text/css" th:href="@{/notice/css/detail.css}">
    <body class="container">
    <h2>공지게시판</h2>
    <form enctype="multipart/form-data">
    <div class="row row1">
        <table class="table">
            <tr>
                <th class="col-2 text-center warning">작성자</th>
                <td class="col-4 text-center table-data">관리자</td>
                <th class="col-4 text-center warning">작성일</th>
                <th class="col-2 text-center table-data" th:text="${#temporals.format(noticeDTO.noDate, 'yyyy-MM-dd HH:mm')}"></th>
            </tr>
            <tr>
                <th class="col-2 text-center warning">조회수</th>
                <td class="col-4 text-center" th:text="${noticeDTO.getNoViewCnt()}"></td>
                <th class="col-2 text-center warning">첨부파일</th>
                <td class="col-4 text-center" th:each="noticefile, loop : ${noticeDTO.getNoticeFiles()}" th:text="${noticefile.noOrgNm}"></td>
            </tr>
            <tr>
                <th class="col-2 text-center warning">제목</th>
                <td class="col-10 text-left" colspan="3" th:text="${noticeDTO.noTitle}"></td>
            </tr>
            <tr>
                <td style="border: 0;">
                   <!-- <form th:action="@{/detail/{noNo}}" enctype="multipart/form-data" method="get"> -->
                        <!-- 파일네임을 명시해서 주소에 넘겨줌 -->
                        <img th:each="noticefile, loop : ${noticeDTO.getNoticeFiles()}"  th:src="@{|/image/notice/${noticefile.noSavedNm}|}" width="300" height="300">
                       <!-- <img th:src="| '/notice/detail/'${noticeFile.getNoSavedNm()}(filename=${noticeFile.getNoSavedNm()})|" width="150" height="150"> -->
                </td>
            </tr>
            <tr>
                <td colspan="4" class="text-left" valign="top" height="200">
                    <pre style="white-space: pre-wrap; border:none;background-color: white;"
                         th:text="${noticeDTO.noContent}"></pre>
                </td>
            </tr>

        </table>

        <div class="text-center">
            <div class="btn-group">
                    <div class="col">
                        <a th:href="@{'/notice/edit/'+${noticeDTO.noNo}}" sec:authorize="hasRole('ROLE_ADMIN')">
                            <button type="button" class="btn btn-dark">수정</button>
                        </a>
                    </div>
                </div>
                <div class="col">
                    <a th:href="@{'/notice/delete/' + ${noticeDTO.noNo}}" sec:authorize="hasRole('ROLE_ADMIN')">
                        <button type="button" id="deleteBtn"  class="btn btn-dark">삭제</button>
                    </a>

                </div>
                <div>
                    <a th:href="@{'/notice/list'}" >
                        <button type="button" class="btn btn-dark">목록</button>
                    </a>
                </div>
            </div>
        </div>

    </div>
    </form>
    </body>
    </form>
</div>
</html>