<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" th:href="@{/member/css/login.css}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div class="container">
<h1>SIGN UP</h1>
<ul class="links">

    <li>
        <a href="/member/login" id="signin">SIGN IN</a>
    </li>
    <li>
        <a th:href="@{/member/join}" id="signup">SIGN UP</a>
    </li>
</ul>
<form th:action="@{/member/join}" th:object="${userCreateForm}" method="post">
    <div class="first-input input__block signup-input__block">
        <input class="fm" type="text" th:field="*{memberId}" id="memberId" name="memberId" placeholder="Id"></div>
         <button class="btnidCheck" type="button" id="usernameOverlay" onclick="usernameCheck()" >중복체크</button>
        <div class="err01" th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}"></div>
    <div class="input__block up">
        <input type="text" th:field="*{name}" placeholder="Name"/>
        <div class="err02" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    <div class="input__block up">
        <input type="text" th:field="*{nickname}" placeholder="NickName"/>
        <div class="err03" th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}"></div>
    </div>
    <div class="input__block up">
        <input type="password" th:field="*{pw1}" placeholder="Password"/>
        <div class="err04" th:if="${#fields.hasErrors('pw1')}" th:errors="*{pw1}"></div>
    </div>
    <div class="input__block up">
        <input type="password" th:field="*{pw2}" placeholder="Confirm Password"/>
        <div class="err05" th:if="${#fields.hasErrors('pw2')}" th:errors="*{pw2}"></div>
    </div>
    <div class="input__block up">
        <input type="email" th:field="*{eMail}" placeholder="Email"/>
        <div class="err06" th:if="${#fields.hasErrors('eMail')}" th:errors="*{eMail}"></div>
    </div>
    <div class="input__block up">
        <input  type="text" th:field="*{zipcode}" placeholder="우편번호 찾기 클릭"/> </div>
        <input class ="zipbtn" type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
        <div class="err07" th:if="${#fields.hasErrors('zipcode')}" th:errors="*{zipcode}"></div>

    <div class="input__block last">
        <input class="ztb" type="text" th:field="*{address}" placeholder="도로명주소를 입력하세요"/>
        <div class="err08" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
    </div>
    <div class="input__block last">
        <input type="text" th:field="*{detailaddress}" placeholder="상세주소를 입력하세요"/>
        <div class="err09" th:if="${#fields.hasErrors('detailaddress')}" th:errors="*{detailaddress}"></div>
    </div>
    <div class="input__block last">
        <input type="text" id="birth" name="birth" placeholder="Date Of Birth"/>

    <div class="dateSelect" id="dateSelect">
        <div class="birth dropdown">
            <select class="form-control" id="year" name="year">
                <option value="">년(YY)</option>
                <th:block th:each="a: ${#numbers.sequence(2001, 1900)}">
                    <option th:value="${a}" th:text="${a}"></option>
                </th:block>
            </select>
        </div>

        <div class="birth mx-1 dropdown">
            <select class="form-control" id="month" name="month">
                <option value="">월(mm)</option>
                <th:block th:each="month: ${#numbers.listFormatInteger(#numbers.sequence(1, 12), 2)}">
                    <option class="dropdown-item" th:value="${month}" th:text="${month}"></option>
                </th:block>
            </select>
        </div>

        <div class="birth dropdown">
            <select class="form-control" id="day" name="day">
                <option value="">일(dd)</option>
                <th:block th:each="day: ${#numbers.listFormatInteger(#numbers.sequence(1, 31), 2)}">
                    <option class="dropdown-item" th:value="${day}" th:text="${day}"></option>
                </th:block>
            </select>
        </div>
        <span id="birth_check_msg"></span>
    </div>
        <div class="err09" th:if="${#fields.hasErrors('birth')}" th:errors="*{birth}"></div>
    </div>
    <div class="input__block last">
        <input type="text" th:field="*{phone}" placeholder="Phone" />
        <div class="err10" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></div>
    </div>

    <input class="signup__btn" type="submit" value="회원가입"/>
</div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("detailaddress").value = extraAddr;

                } else {
                    document.getElementById("detailaddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('zipcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("detailaddress").focus();
            }
        }).open();
    }

</script>
<script>
    function usernameCheck() {
        const memberId = $("#memberId").val();
        if (memberId == "") {
            alert("아이디를 입력해주세요.");
            $("#memberId").focus();
            return false;
        }
        $.ajax({
            type: "GET",
            url: "/member/check",
            data: {"memberId": memberId},
            dataType: "JSON",
            success: function (response) {
                    alert(response.message);
            },
        });

    }
</script>

<script type="text/javascript">
    // 날짜 선택이 변경될 때마다 birth 필드 값을 업데이트
    document.getElementById("year").addEventListener("change", updateBirthField);
    document.getElementById("month").addEventListener("change", updateBirthField);
    document.getElementById("day").addEventListener("change", updateBirthField);

    function updateBirthField() {
        var year = document.getElementById("year").value;
        var month = document.getElementById("month").value;
        var day = document.getElementById("day").value;
        var birth = year + "-" + month + "-" + day;
        document.getElementById("birth").value = birth;
    }

</script>