<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
      href="/mainboard/css/bootstrap.min.css" th:href="@{/mainboard/css/bootstrap.min.css}"/>
    <title>비밀번호 업데이트</title>
</head>
<body>
<script src="/mainboard/js/bootstrap.min.js" th:src="@{/mainboard/js/bootstrap.min.js}"></script>
  <div class="my-5 mb-5">
    <h2 style="text-align: center;">비밀번호 업데이트</h2>
    <div class="my-5 mb-5" style="margin-left: 20px;">
    <p class="font-monospace fw-bold">아이디: <span th:text="${memberId}"></span></p>
    </div>
  </div>
<form id="updateForm" th:action="@{/member/updatePw}" th:object="${userCreateForm}" method="post">
    <input type="hidden" name="memberId" th:value="${memberId}">
<!--<div  class="grid g-2">
    <div class="">
        <label for="newPassword1">새 비밀번호</label>
    </div>

    <div>
        <input type="password" th:field="*{newPassword1}" id="newPassword1" name="newPassword1" required>
    </div>
    <div style="color:red;" th:if="${#fields.hasErrors('newPassword1')}" th:errors="*{newPassword1}" class="error"></div>

    <div class="">
        <label for="newPassword2">새 비밀번호 확인</label>
     </div>

    <div>
        <input type="password" th:field="*{newPassword2}" id="newPassword2" name="newPassword2" required>
    </div>
    <div style="color:red;" th:if="${#fields.hasErrors('newPassword2')}" th:errors="*{newPassword2}" class="error"></div>
</div>-->
    <div class="container">
        <div class="row">
            <div class="mb-4">
                <label for="newPassword1">새 비밀번호</label>
            </div>

            <div class="mb-4">
                <input class="form-control" type="password" th:field="*{newPassword1}" id="newPassword1" name="newPassword1" required>
            </div>
            <div style="color:red;" th:if="${#fields.hasErrors('newPassword1')}" th:errors="*{newPassword1}" class="error"></div>

            <div class="mb-4">
                <label for="newPassword2">새 비밀번호 확인</label>
            </div>

            <div class="mb-4">
                <input class="form-control" type="password" th:field="*{newPassword2}" id="newPassword2" name="newPassword2" required>
            </div>
            <div style="color:red;" th:if="${#fields.hasErrors('newPassword2')}" th:errors="*{newPassword2}" class= "error"></div>

        </div> <!-- end of row -->
    </div> <!-- end of container -->
    <div class="mb-3" style="text-align: center;">
        <button class="btn btn-secondary my-2" type="submit">업데이트</button>
    </div>

</form>

<div id="updateResult">
    <!-- 업데이트 결과는 여기에 표시 -->
</div>
</body>
</html>