.boardlist{
    text-align: center;
    text-valign: middle;
}

/*h3글,검색바*/
#h3AndSearch {
    display: flex;
    align-items: center;
}


.table-nav-tr{
    background-color: #ffb207;;
    color: #ffffff;

}

.container{
    font-size: 18px;
}

/*목록 수정버튼*/
.btn-modify-custom {
    background-color: #ffb207;
    color: #ffffff;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    font-size: 15px;
    width: 60px;
    height: 35px;
    border: none;
    margin-top: 2px;
}

.writebtn{
    text-align: right;
}


tr {
    text-align: center;
    text-valign: middle;
}

td {
    text-align: center;
    text-valign: middle;
}

/*----------상세보기 수정 삭제-------------*/
.btn-modify-boardDetail {
    background-color: #ffb207;;
    color: #ffb207;
} /*게시판상세보기 수정버튼*/



/* PageNation Styles */


.pagination .page-link {
    color: #ffb207;; /* 글씨 색상을 주황색으로 설정 */
    background-color: transparent; /* 배경을 투명으로 설정 */
    border: 2px solid #fff; /* 테두리 색상을 흰색으로 설정 */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.pagination .page-link.active,
.pagination .page-link:hover {
    background-color: #ffb207;; /* 클릭하거나 호버할 때 배경을 주황색으로 설정 */
    border-color: #fff; /* 클릭하거나 호버할 때 테두리 색상을 흰색으로 설정 */
    color: #fff; /* 클릭하거나 호버할 때 글씨 색상을 흰색으로 설정 */
}


.pagination .page-link.active .current-page {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffb207;;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border: 2px solid #fff;
    margin: -2px; /* 현재 페이지 번호를 다른 원 안에 중첩시키기 위한 마진 조절 */
}


/* 버튼의 테두리 제거 */
.btn.btn-modify-custom.btn-outline-secondary {
    border: none;
}

.btn.btn-modify-custom.btn-outline-secondary:hover {
    background-color: #FFA500; /* 원하는 배경색으로 변경하세요 */
    border-color: #FFA500; /* 원하는 테두리 색상으로 변경하세요 */
}