/*detail.css*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
/*img {vertical-align: middle;}*/

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slides {
    margin-top: 50px;
    position: relative;
    height: 80%;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.slide_image {
    border-radius: 8px;
    position: relative;
    width: 70%;
    overflow: hidden;
    height: 700px;
    object-fit: cover;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #ffc066;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

* {
    margin: auto;
    padding: 0;
}

button {
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
}

.container {
    display : flex;
}

.content {
    margin: 0 auto;
    width: 70%;
    padding: 20px;
}

.nickname {
    margin-bottom : 20px;
    padding-bottom : 20px;
    border-bottom : solid 3px #dcdee3;
}

.title {
    font-size : 24px;
    margin : 10px;
}

.nickname {
    font-size : 24px;
    margin-top : 50px;
}

.category_regDate {
    margin : 5px 0px 100px 20px;
    font-size : 14px;
    color : #b4b9c2;
}

.icon{
    margin : 10px;
}

.petPrice, .petAddress, .week, .startTime, .endTime {
    margin-left : 10px;
    padding-bottom : 10px;
}

.petContent {
    margin-left : 10px;
    margin-top : 10px;
}

.content_title{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size : 20px;
}

.chatBtn {
    display:inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 1rem;
}

.temporary {
    position: relative;
    overflow: hidden;
}

.temporary_image {
    display: block;
    width: 70%;
    height: 70%;
    object-fit: cover;
}

.temporary_list {
    display: flex;
    transform: translate(0, 0);
}

.temporary_item {
    flex: 0 0 100%;
    list-style: none;
}

.recommendContainer {
    margin-top:50px;
}

div.content.recommendContainer.recommend.thumbnail-crop {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

div.content.recommendContainer.recommend.thumbnail-crop.thumbnail {
    position: absolute;
    top: -72px;
    left: -35px;
    width: 240px;
}

.tem_thumbnail {
    width: 200px;
    height: 200px;
}

.thumbnail {
    top: -72px;
    left: -35px;
    width: 240px;
    margin-right:10px;
}

.buttonSection {
    margin-top: 133px;
    position: relative;
    right: -10rem;}

.buttons{
    margin-left : 30%;
}

.button {
    width: 130px;
    height: 50px;
    border-radius: 10px;
    background-color: #ffb207;
    box-sizing: border-box;
    text-decoration: none;
    padding: 14px 2rem;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 1rem;
}

.cards-wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 150px;
}

.petSitterItem {
    display: inline-flex;
    margin: 18px;
    width: 424px;
    font-size: 15px;
}

.recommend {
    margin: 0 auto;
    width: 1000px;
    position: relative;
    right: 3rem;
}

a {
    text-decoration: none;
    color : black;
}

a:visited {
    color : black;
}
.text-center {
    margin-top: 15px;
    margin-bottom: 22px;
}

/*
.item_name{
    margin-top: 10px;
    font-weight: 400;
}

.item_cost{
    margin-top: 10px;
    font-weight: 700;
}
.item_place{
    font-weight: 400;
    font-size: smaller;
    margin-top: 10px;
}
.recommendContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 50px;
}
.recommend{
    width: 200px;
    height: 300px;
    flex-grow: 0;
    flex-basis: auto;
    margin: auto;
}
*/