/* style.css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: black;               /* 링크 텍스트 색상을 빨간색으로 설정 */
    text-decoration: none;      /* 밑줄 제거 */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    width: 100%;
}
ol, ul {
    list-style: none;
}
.wrap {
   max-width: 1280px;
   margin: 0 auto;
}

.petSitterContainer {
   display: grid;
   place-items: center;
   grid-template-columns: 600px 600px;
   gap: 80px;
   margin-left: 50px;
}

.thumbnail-crop {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 12px;
}

.thumbnail {
    position: absolute;
    top: -72px;
    left: -35px;
    width: 240px;
}

.tem_thumbnail {
    width: 200px;
    height: 200px;
}
.item_name{
    margin-top: 10px;
    font-weight: 400;
}

.item_cost{
    margin-top: 10px;
    font-weight: 700;
}
.item_place{
    font-weight: 400;
    font-size: smaller;
    margin-top: 10px;
}
.petSitterContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 50px;
}
.petSitterItem{
    width: 200px;
    height: 300px;
    flex-grow: 0;
    flex-basis: auto;
    margin: auto;
}

/*
.petSitterItem {
   box-shadow: 3px 3px 2px rgb(0, 0, 0, 0.1);
   padding: 40px;
}
*/