/*!* style.css *!*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/*!* HTML5 display-role reset for older browsers *!*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


body {
    line-height: 1;
    width: 100%;
}
ol, ul {
    list-style: none;
}

.wrap {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.option {
    width : 700px;
}

.petSitter-cover {
    height: 340px;
    padding: 0 16px 0 16px;
    margin: -17px 0px;
}

.petSitter-cover {
    background-color: #f0ae2c;
}

.cover-description {
    line-height: 1.32;
    font-size: 18px;
    letter-spacing: -0.18px;
    margin-top: 16px;
    margin-right: 20px;
    display: block;
}

.cover-image .petSitter-cover-image img {
    position: relative;
    top: 53px;
    right: 0px;
    width: 40%;
    overflow: hidden;
    object-fit: cover;
}

.thumbnail-crop {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 12px;
}

.thumbnail {
    position: absolute;
    top: -72px;
    left: -35px;
    width: 300px;
}

.tem_thumbnail {
    width: 200px;
    height: 200px;
}

.item_name{
    margin-top: 10px;
    font-weight: bold;
    font-size: 17px;
    width: 200px;
    height: 24px;
    overflow: hidden;
    margin-bottom: 7px;
    text-align: left;
    padding: 0px 5px;
}

.item-address {
    width: 200px;
    height: 24px;
    overflow: hidden;
    margin-bottom: 1px;
    text-align: left;
    padding: 0px 5px;
    font-size: 15px;
}

.item_cost{
    margin-top: 10px;
    font-size: 15px;
    color: #6c757d;
    text-align: left;
    padding: 0px 5px;
}

.item_place{
    font-weight: 400;
    font-size: smaller;
    margin-top: 10px;
    text-align: left;
    padding: 0px 5px;
}

.item_like {
    margin-top: 10px;
    font-size: 13px;
    color: #868e96;
    text-align: right;
    padding: 0px 5px;
}

.content_nothing {
    font-size: 25px;
    width: 700px;
    margin-top: 60px;
}

.petSitterContainer {
    display: grid;
    place-items: center;
    grid-template-columns: 600px 600px;
    gap: 80px;
    text-align: center;
}

.petSitterContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 50px;
    justify-content: center;
}

.petSitterItem{
    width: 200px;
    height: 300px;
    flex-grow: 0;
    flex-basis: auto;
    margin: auto;
}

.form_content {
    display : inline;
    margin : 50px;
}

.form {
    margin: 50px;
    width: 1280px;
}

.search_text{
    font-weight: bold;
    font-size: 15px;
    margin: 0 5px 0 8px;
}

#category, #petCategory, #address, #day {
    width : 100px;
}

#time, #search {
    width: 155px;
}

.selectClass, .titleSearchInput {
    height: 30px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 2px 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
}

.selectClass:focus {
    border: 1px solid #fd7e14;
    box-sizing: border-box;
    border-radius: 10px;
    outline: 3px solid #ffca2c;
    border-radius: 10px;
}

.writeBtn {
    left: 89rem;
    position: relative;
    border-radius: 30px 30px 30px 30px;
    width: 60px;
    height: 60px;
    color: #ff9100;
    border: none;
    background-color: #ff9100;
    text-align: center;
}
.petSitter-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.cover-content {
    text-align: center;
    margin-bottom: 100px;
}

.petSitter-cover-image img {
    max-height: 100%;
    object-fit: contain;
}