
<footer id="footer" th:fragment="footerFragment" class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
    <div class="container">
       <div class="row">
    <div class="text-center text-sm mt-4 mb-4" style="font-size: 12px;">© 대표 이희민 등 7명 사업자번호 5959-59-5959</div>

    <div class="text-center text-body-secondary mb-4" style="font-size: 12px;">주소 서울특별시 강남구 태해란로 7길 7 (펫퍼센트)</div>

    <div class="text-center text-body-secondary mb-4" style="font-size: 12px;">전화 5959-5959 고객문의 pet@petpercent.com</div>
       </div>
    </div>
</footer>