
<footer id="footer" th:fragment="footerFragment" class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">home</font></font></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">notice</font></font></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Q&A</font></font></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">myPgae</font></font></a></li>
    </ul>
    <p class="text-center text-body-secondary">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">© 2023 멍멍왈왈애옹애옹, Inc</font></font>
    </p>
</footer>