<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetSitter</title>
    <link rel="stylesheet" type="text/css" href="/mainboard/css/bootstrap.min.css" th:href="@{/mainboard/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" href="/mainboard/css/color.css">
    <link rel="stylesheet" type="text/css" href="/layout/css/nav.css">
</head>
<body>
    <!-- navigation -->
    <div th:replace="~{navbar::navbarFragment}"></div>
    <hr/>
    <!-- baseTemplate 시작 -->
    <th:block layout:fragment="content"></th:block>
    <!-- baseTemplate 끝 -->
    <script src="/mainboard/js/bootstrap.min.js" th:src="@{/mainboard/js/bootstrap.min.js}"></script>
    <!-- footer -->
    <footer  th:replace="~{footer::footerFragment}"></footer>
</body>
</html>