<html layout:decorate="~{layout}">
<div layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

<h1>Main.임시</h1>
<!--<p>ID:<span th:text="${#authentication.principal.id}"></span></p>-->
<!--<div sec:authorize="isAuthenticated()">
    <p>UserID:<span th:text="${#authentication.principal.memberId}"></span></p>
</div>
<div sec:authorize="isAuthenticated()">
    <p>Name:<span th:text="${#authentication.principal.name}"></span></p>
</div>
<div sec:authorize="isAuthenticated()">
<p>Nickname:<span th:text="${#authentication.principal.nickname}"></span></p>
</div>-->
<a th:href="@{/question/list}">QnA게시판</a>
<a th:href="@{/notice/list}">공지게시판</a>

<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/member/login}">로그인</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/member/join}">회원가입</a>
    </li>
    <li class="nav-item">
        <!--로그인 후 출력되는 영역 : 유저정보님-->
        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/member/logout}"
           th:text="${#authentication.name + '님 로그아웃'}"></a>
<!--        <form th:action="@{/member/logout}" method="post" th:csrf>
            <input type="submit" value="Logout"/>
        </form>-->

    </li>
    <li>
        <a sec:authorize="isAuthenticated()" th:href="@{/mainboard/write}">메인게시판 글작성</a>
    </li>
    <li>
        <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin/memberList}">관리자 멤버</a>
    </li>
    <li>
        <a th:href="@{/mainboard/list}">메인게시판 글목록</a>
    </li>
</ul>
</body>
</html>