<html layout:decorate="~{layout}" class="container my-3">
<div layout:fragment="content">
  <h5 class="my-3 border-bottom pb-2">답변 등록</h5>
  <form id="answerForm" class="my-3" th:object="${answerForm}" method="post">
    <div th:replace="~{form_errors::formErrorsFragment}"></div>
    <div class="mb-3">
      <label for="content" class="form-label">내용</label>
      <textarea th:field="*{content}" rows="8" class="form-control" id="content" ></textarea>
    </div>
    <input type="submit" value="저장" class="btn btn-primary my-2" id="subBtn" />
  </form>
</div>
</html>