<html layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/qna/css/questionForm.css}">
</head>
<body>
<div layout:fragment="content" class="container my-4">
    <form id="pwd" action="/question/checkPassword" method="post">
        <input type="hidden" name="qnaNo" th:value="${qnaNo}">
        <div class="d-flex justify-content-center align-items-center"> <!-- 가운데 정렬을 위한 클래스 추가 -->
            <div class="text-center"> <!-- 비밀번호 입력창을 가운데에 배치하기 위한 클래스 추가 -->
                <label for="qnaPw" class="form-label fw-bold">비밀번호</label>
                <input type="password" id="qnaPw" name="inputPassword" placeholder="숫자 4자리를 입력하세요." required>
            </div>
            <div class="ml-2"> <!-- 확인 버튼을 오른쪽에 배치하기 위한 클래스 추가 -->
                <input class="btn btn-modify-custom btn-outline-secondary" type="submit" value="확인">
                <a th:href="@{/question/list}">
                <input class="btn btn-modify-custom btn-outline-secondary" type="button" value="취소">
                </a>
            </div>
        </div>
    </form>
</div>
</body>
</html>
