
<html layout:decorate="~{layout}" class="container my-3">
<div layout:fragment="content">
    <link rel="stylesheet" type="text/css" th:href="@{/qna/css/questionForm.css}">
    <form id="QuestionForm" th:action="@{/question/write}" th:object="${questionForm}" enctype="multipart/form-data" method="post">

        <div class="container">
            <h1>Q&A게시판</h1>
            <div class="row row1">
                <table class="table">
                    <tr>
                        <th class="text-right">제목</th>
                        <td>
                            <input type="text" th:field="*{title}" size=50 class="input-sm">
                        </td>
                    </tr>
                    <tr>
                        <th class="text-right">내용</th>
                        <td>
                            <textarea rows="10" cols="50" th:field="*{content}"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-right">비밀번호</th>
                        <td>
                            <input type=password th:field="*{password}" name="qnaPw" size=15 placeholder="숫자4자리" class="input-sm">
                        </td>
                    </tr>
                    <tr>
                        <th class="text-right">첨부파일</th>
                        <td>
                            <input type=file multiple ="multiple"  th:field="*{file}" size=15 class="input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center border-0" colspan="2">
                            <input class="btn btn-modify-custom btn-outline-secondary" type="submit" value="등록">
                            <a th:href="@{'/question/list'}">
                                <button type="button" class="btn btn-modify-custom btn-outline-secondary">취소</button>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
</div>
</html>