<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-4">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/qna/css/questionList.css}">
    </head>
    <body>
        <div class="h2">Q&A게시판</div>
        <div class="writebtn"><a th:href="@{/question/write}" class="btn btn-modify-custom btn-outline-secondary">글쓰기</a></div>
    <div>
        <table class="table container my-4 table table-hover">
            <thead class="table-nav-tr">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <!-- CONTENTS !-->
            <tr th:each="question, loop: ${questionPage}" style="height: 40px;">
                <td th:text="${questionPage.getTotalElements() - (questionPage.number * questionPage.size) - loop.index}"></td>

                <td>
                    <a style="color:black" th:href="${#authentication.getPrincipal().getUsername() == 'admin' ?
                    '/question/detail/' + question.qnaNo : '/question/checkPassword/' + question.qnaNo}"
                       th:text="${question.qnaTitle}">
                    </a>
                </td>

                <td class="col-3" th:text="${question.member.getNickname}"></td>
                <td>
                    <span class="col-2" th:text="${#temporals.format(question.qnaDate, 'yyyy-MM-dd HH:mm')}"></span>
                </td>
                <td>
                    <span class="col-1" th:text="${question.qnaViewCnt}"></span>
                </td>
            </tr>

            </tbody>
        </table>

        <!-- PageNation -->
        <div th:if="${!questionPage.isEmpty()}">
            <ul class="pagination justify-content-center">
                <!-- 이전 버튼 : 조건 충족시 노출 -->
                <!-- 삼항 연산자 => 조건 ? true false -->
                <li class="page-item" th:classappend="${!questionPage.hasPrevious} ? 'disabled'">
                    <!-- Page class의 hasPrevious() : 이전 페이지의 여부 / getNumber : 현재 페이지 번호-->
                    <a class="page-link" th:href="@{|?page=${questionPage.number-1}|}"><span> << </span></a>
                </li>
                <!-- 페이지번호 : 반복& <a>태그 연결 & 부트스트랩 [1] [2] [3] ~ [10] -->
                <!-- page : 반복변수명  / '?page=' : localhost:8090/question/list?page=페이지전호-->
                <li class="page-item" th:each="page : ${#numbers.sequence(0,questionPage.totalPages-1)}"
                    th:if="${page>=questionPage.number-5 and page<=questionPage.number+5}"
                    th:classappend="${page==questionPage.number} ? 'active'">
                    <a class="page-link" th:href="@{|?page=${page}|}" th:text="${page+1}" th:classappend="${page==questionPage.number} ? 'active'">
                         <span th:if="${page==questionPage.number}" class="current-page">
                             [th:text="${page+1}"]
                        </span>
                    </a>
                </li>
                <!-- 다음 버튼 : 조건 충족시 노출 -->
                <li class="page-item" th:classappend="${!questionPage.hasNext} ? 'disabled'">
                    <!-- Page class의 hasPrevious() : 이전 페이지의 여부 / getNumber : 현재 페이지 번호-->
                    <a class="page-link" th:href="@{|?page=${questionPage.number+1}|}"><span> >> </span></a>
                </li>
            </ul>
        </div>
    </div>



    </body>
</div>

</html>




