<html layout:decorate="~{layout}" class="container my-3">
<div layout:fragment="content">
    <link rel="stylesheet" type="text/css" th:href="@{/qna/css/questionForm.css}">

    <form th:action="@{/question/update}"  enctype="multipart/form-data" method="post">
        <input type="hidden" name="qnaNo" th:value="${questionDTO.qnaNo}"/>

        <div class="container">
            <h1>공지게시판</h1>
            <div class="row row1">
                <table class="table">
                    <tr>
                        <th class="text-right">제목</th>
                        <td>
                            <input type="text" name="qnaTitle" size=50 class="input-sm"
                                   th:value="${questionDTO.qnaTitle}">
                        </td>
                    </tr>
                    <tr>
                        <th class="text-right">내용</th>
                        <td>
                            <textarea rows="10" cols="50" name="qnaContent"
                                      th:text="${questionDTO.qnaContent}"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th class="text-right">첨부파일</th>
                        <td>
                            <img th:each="questionfile, loop : ${questionDTO.questionList}"
                                 th:src="@{|/image/question/${questionfile.QSavedNm}|}" width="100" height="100">
                            <input type="file" multiple="multiple" name="file" size=15 class="input-sm">
                        </td>
                    </tr>
                    <tr>
                </table>

                <div class="text-center">
                    <div class="btn-group">
                        <div class="col">
                            <form th:action="@{'/question/update/' + ${questionDTO.qnaNo}}" method="post" sec:authorize="isAuthenticated()"
                                  th:if="${questionDTO.member.memberId!=null and #authentication.getPrincipal().getUsername()==questionDTO.member.memberId}">
                                <button type="submit" class="btn btn-modify-custom btn-outline-secondary">수정</button>
                            </form>
                        </div>
                        <div class="col">
                            <a th:href="@{'/question/list'}">
                                <button type="button" class="btn btn-modify-custom btn-outline-secondary">취소</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
</html>