a {
    text-decoration: none;
}

.boardlist{
    text-align: center;
    text-valign: middle;
}

.nav-item a.active {
    font-weight: bold; /* 활성 링크의 텍스트를 굵게 표시 */
    color: red; /* 활성 링크의 텍스트 색상을 변경 */
}

/*h3글,검색바*/
#h3AndSearch {
    display: flex;
    align-items: center;
}

.table-nav-tr{
    background-color: #FF9100;
    color: #ffffff;

}
/*검색바*/
.search {
    position: relative;
    width: 250px;
    margin-left: auto;
}
.searchInput {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
    margin-left: auto;

}
.searchImg {
    position : absolute;
    width: 17px;
    top: 12px;
    right: 12px;
    margin: 0;
}


/*목록 수정버튼*/
.btn-modify-custom {
    background-color: #808080;
    color: #ffffff;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    font-size: 13px;
    width: 46px;
    height: 29px;
}

/*목록 삭제버튼*/
.btn-delete-custom {
    background-color: #ff0000;
    color: #ffffff;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    font-size: 13px;
    width: 46px;
    height: 29px;
    text-align: center;
    text-valign: middle;
}

tr {
    text-align: center;
    text-valign: middle;
}

td {
    text-align: center;
    text-valign: middle;
}

/*----------상세보기-------------*/
.boardDetail{
    max-width: 900px;
}

.name-date{
    border-bottom: 1px solid #E5E8EB;
    padding-bottom: 7px;
}

.date{
    float: right;
}

.modifyAndDelete{
    float: right;
}

.btn-modify-boardDetail {
    background-color: #808080;
    color: #ffffff;
} /*게시판상세보기 수정버튼*/

.btn-delete-boardDelete {
    background-color: #ff0000;
    color: #ffffff;
} /*게시판상세보기 삭제버튼*/





/*게시판 상세보기 이미지*/
.slide_image{
    width: 500px;
    height: 600px;
}
.img-size .slide_image {
    /* 이미지가 div의 크기에 맞게 조절되도록 설정 */
    width: 50%;
    height: 40%;
    object-fit: cover; /* 이미지 비율 유지하면서 div 채우기 */
}



