.memberlist{
    text-align: center;
    text-valign: middle;
}

.table-nav-tr{
    background-color: #FF9100;
    color: #ffffff;
}

.h1-memberdetail {
    text-align: center;
    text-valign: middle;
}

.memberDetailTable {
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
}

.btn-detail {
    position: relative;
    top: 5rem;
    left: 37rem;
    transform: translate(-50%, -50%);
}

.btn-modify-memberDetail {
    background-color: #808080;
    color: #ffffff;
} /*회원상세보기 수정버튼*/

.btn-delete-memberDelete {
    background-color: #ff0000;
    color: #ffffff;
} /*회원상세보기 삭제버튼*/


/*-----------------adminMemberForm css---------------*/
.h1-membermodify {
    text-align: center;
    text-valign: middle;
}

.memberDetailTable {
    margin-top: 30px;
    margin-left:auto;
    margin-right:auto;
}

.memberDetailTable input {
    width: 400px;
    border: 1px solid #ffffff;
}

.memberDetailTable td {
    border: 1px solid #ddd; /* 셀마다 경계선을 설정 */
    padding: 8px; /* 셀 안쪽 패딩 설정 */
}

.memberDetailTable tr td:first-child {
    background-color: #FF9100;
    color: #ffffff;
    font-weight: bold;
    width: 12em;
}/*회원번호 ~ 이메일 까지 색상변경 등등*/

.memberDetailTable tr td:nth-child(2) {
    font-weight: bold;
    width: 25em;
}/*회원번호 ~ 이메일 까지 글씨 굵게*/


.btn-save-form {
    position: relative;
    top: 3rem;
    left: 50%;
    transform: translate(-50%, -50%);
}/*저장버튼*/





